
@{
    ViewData["Title"] = "NewProduct";
}

<h1>New product page</h1>
<form method="get" action="/Home/Add">
    <h5>New Product :</h5>
    <p>Category :</p>
    <input type="text" name="product.category" />
    <p>Salesman :</p>
    <input type="text" name="product.salesman" />
    <p>Product :</p>
    <input type="text" name="product.product" />
    <p>Model :</p>
    <input type="text" name="product.model" />
    <p>Description :</p>
    <input type="text" name="product.description" />
    <p>Price :</p>
    <input type="number" step="any" name="product.price" />
    <p>Img url :</p>
    <input type="text" name="product.img" />
    <input type="submit" value="Отправить" />
</form>

